link(rel='stylesheet', href='/stylesheets/results.css')

.back
	a(href="/") &laquo; Search

h1 Doctors near #{location}

ul

	- each doctor in doctors
		li.doctor
			h2= doctor.name
			.row= doctor.feedback
			.row!= doctor.address
			.row= doctor.GPs
			.row= doctor.satisfaction
			.row= doctor.extendedAppointments
			.row= doctor.patients
